name: Cache Dependencies

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache/dependencies
          key: cache-b2acff8

      - name: prime-cache-b2acff8
        run: |
          echo "Cache hit: ${{ steps.cache-step.outputs.cache-hit }}"

      - name: Create cache content (on cache miss)
        if: steps.cache-step.outputs.cache-hit != 'true'
        run: |
          mkdir -p ~/.cache/dependencies
          echo "dependencies cached on $(date)" > ~/.cache/dependencies/deps.txt
